@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-xs-12 center-block text-center mt-3 mb-3">
        <h1>@ViewData["Title"] Us</h1>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <h3>Who are we?</h3>

        <hr />
    </div>
    <div class="row mt-3">
        <h3>What do we do?</h3>

        <hr />
    </div>

</div>

