@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"] Us</h1>

<div class="container">
    <div class="row">
        <h3>Who are we?</h3>
    </div>

    <div class="row">
        <h3>What do we do?</h3>
    </div>

    <div class="row">
        <h3>Contact Us</h3>
        <form asp-action="Email" asp-controller="Contact">
            <label for="email-message">Content</label>
            <input id="email-message" type="text" />
        </form>
    </div>

</div>

