@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col-xs-12 center-block text-center mt-3 mb-3">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="container mt-3">
    <p>
        Privacy Policy
    </p>
</div>
