
/* SET CUSTOM COLOURS */

$purple: #ead5ff;
$lightpurple: #c081ff;
$purple2: #f795ff;
$grey-purple: #dcb8e1;
$green: green;
$cyan: cyan;
$yellow: yellow;
$red: red;

/* WHITES & GRAYS */

// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
// scss-docs-end gray-color-variables

/* THEME COLOURS!!! */

$border-radius: 10px;

/* MODIFY BOOTSTRAP COLOUR MAP */

$primary: $lightpurple;
$secondary: $purple;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$display-card-colour1: $purple2;
$display-card-colour2: $grey-purple;


/* ACCORDION OVERRIDES */

$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-active-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708'/></svg>");

$accordion-padding-y: 1rem;
$accordion-padding-x: 1rem;

$accordion-body-padding-y: $accordion-padding-y;
$accordion-body-padding-x: $accordion-padding-x;

$accordion-border-width: 2px;

$accordion-border-radius: 5%;
$accordion-inner-border-radius: 3px;


/* INPUT OVERRIDES */

$input-border-radius: 2rem;
$input-border-radius-sm: 2rem;
$input-border-radius-lg: 2rem;

/* BUTTON OVERRIDES */

$btn-border-radius: 2rem;

/* BORDER OVERRIDES */

$border-radius: .375rem;
$border-radius-sm: .25rem;
$border-radius-lg: .5rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-pill: 50rem;

/* CARD OVERRIDES */

$card-height: null;

/* CONTAINER OVERRIDES */

$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1440px );

/* GUTTERS */

