@use "../_custom.scss" as *;

.navbar-nav {
    font-family: 'Outfit';
    font-size: 16px;
}

.navbar.navbar-default .navbar-collapse {
    border: 1px solid transparent;
}

.nav-item:hover {
    transform: scale(1.1);
}

.dropdown-menu {
    position: absolute;
    z-index: 1050;
}

.dropdown-menu > li:hover {
    transform: scale(1.05);
}

.navbar, .dropdown, .dropdown-menu {
    position: relative;
    z-index: 1000;
}

.navbar, .dropdown, .dropdown-menu, body {
    position: relative;
    z-index: 9999;
}

.navbar.nav-item {
    z-index:1049;
}

.navbar-descriptor {
    padding-left: 8px;
    padding-right: 8px;
}

.main-logo {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.menu {
    background-color: $primary;

    li {
        padding: 0 0.7rem;

        a {
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}

/* desktop view */

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/* desktop view end */