@model IEnumerable<CanIEatIt.Models.Plant>

@{
    ViewData["Title"] = "Index";
}
<h2>Plant Home Page</h2>

<p>Add Plant Home Page Here </p>

<a class="nav-link text-dark" asp-area="" asp-controller="Plants" asp-action="Database">Database</a>
