.filter-accordion {
    border-radius: 0.3125rem;
    font-family: 'Outfit';
}

.accordion-item {
    border-radius: 5%;
}

.accordion-button {
    border-radius: 5%;
}

.accordion-flush {
    border-radius: 10px;
}

.accordion-input {
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0.3125rem;
}

.acc-btn {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

#accordion-mfilters {
    border: 2px solid;
}