/* DISPLAY CARD */

.display-card {
    @include card-gradient;
    font-family: "Outfit";
    font-size: 14px;
}

.display-card:hover {
    @include card-gradient-active;
}

.card-link {
    text-decoration: none;
}

.card-image {
    min-width: 256px;
    min-height: 256px;
}
