@use "_mixins.scss" as *;

/* DISPLAY CARD */

.display-card {
    @include card-gradient;
    font-family: "Outfit";
    font-size: 14px;
    transition: transform .3s; /* smoother zoom */
    z-index: 500;
}

.display-card:hover {
    @include card-gradient-active;
    transform: scale(1.01);
}

.card-link {
    text-decoration: none;
}

.card-image {
    min-width: 30%;
    min-height: 30%;
}

.image-card {
    overflow: hidden;
}

.display-image {
    transition: transform .4s; /* smoother zoom */
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.display-image:hover {
    transform: scale(1.1);
    
}