/* KEYWORD FILTER */

.keywords-filter {
    overflow-y: visible;
    overflow-x: hidden;
    background-color: white;
    height: 100%;
    display: block;
    border-radius: 5px;
    color: dimgray;
}


/* KEYWORD FILTER LABEL */

.keyword-label {
    margin: 2px;
    padding: 2px 24px 2px 8px;
    float: left;
    display: block;
    background-color: rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    border-radius: 3px;
    position: relative;
}

.keyword-label > .fa {
    font-size: 16px;
    margin-left: 12px;
    position: absolute;
    right: 5px;
    top: 1px;
}

.keyword-label > .fa:hover {
    cursor: pointer;
}

/* FORM GROUP */
