@model CanIEatIt.Models.MushroomViewModel
@using CanIEatIt.Services

@{
    ViewData["Title"] = "Mushrooms - About";
}

@section Scripts
{
    <script>

    </script>
}

ABOUT MUSHROOMS

<div>
    <span>
    </span>
</div>

