@model CanIEatIt.Models.MushroomViewModel
@using CanIEatIt.Services


@{
    ViewData["Title"] = "Mushroom Database";
}

@section Scripts
{
    <script type="text/javascript">

        const cardsLoaded = false;

        (function (window, document, undefined) {

            window.onload = init;

            function init() {
                if (!cardsLoaded) {
                    initCards();
                }
            }

        })(window, document, undefined);

        function initCards() {
            var obj = @Html.Raw(Json.Serialize(Model.Mushrooms));


            for (let i = 0; i < obj.length; i++) {

                var slot = (i % 3) + 1;

                CreateCard(obj[i], slot);
            }


            function CreateCard(mushroom, slot) {
                const link = document.createElement("a");
                link.setAttribute("href", "#");
                link.setAttribute("style", "text-decoration:none");

                const card = document.createElement("div");
                card.setAttribute("class", "card display-card text-white bg-primary mt-3");


                const header = document.createElement("div");
                header.setAttribute("class", "card-header");
                header.innerText = mushroom.name;

                const body = document.createElement("div");
                body.setAttribute("class", "card-body  d-flex flex-column");

                // BUILD FAMILY

                const familyRow = document.createElement("div");
                familyRow.setAttribute("class", "row no-gutters mb-0");

                const familyCol1 = document.createElement("div");
                familyCol1.setAttribute("class", "col-sm-4");

                const familyCol2 = document.createElement("div");
                familyCol2.setAttribute("class", "col nopadding text-justify");

                const familyName = document.createElement("b");
                familyName.setAttribute("class", "strong");
                familyName.innerText = "Family: ";

                const familyDes = document.createElement("p");
                familyDes.setAttribute("class", "");
                familyDes.innerText = mushroom.family;

                familyCol1.appendChild(familyName);

                familyCol2.appendChild(familyDes);

                familyRow.appendChild(familyCol1);
                familyRow.appendChild(familyCol2);

                // BUILD LOCATION

                const locationRow = document.createElement("div");
                locationRow.setAttribute("class", "row no-gutters mb-0");

                const locationCol1 = document.createElement("div");
                locationCol1.setAttribute("class", "col-sm-4");

                const locationCol2 = document.createElement("div");
                locationCol2.setAttribute("class", "col nopadding text-justify");

                const locationName = document.createElement("b");
                locationName.setAttribute("class", "strong");
                locationName.innerText = "Location: ";

                const locationDes = document.createElement("p");
                locationDes.setAttribute("class", "");
                locationDes.innerText = mushroom.location;

                locationCol1.appendChild(locationName);

                locationCol2.appendChild(locationDes);

                locationRow.appendChild(locationCol1);
                locationRow.appendChild(locationCol2);

                // BUILD EDIBLE


                const text = document.createElement("p");
                text.setAttribute("class", "card-text");
                text.innerText = "" + mushroom.edibleDescription;


                body.appendChild(familyRow);

                body.appendChild(locationRow);

                body.appendChild(text);

                card.appendChild(header);
                card.appendChild(body);

                link.appendChild(card);

                const slotId = "mushroom-slot-" + slot;

                document.getElementById(slotId).appendChild(link);
            }

        }


    </script>

}


<form asp-controller="Mushrooms" asp-action="Database" method="get">
    <div class="container">
        <div class="row mt-3 mb-3">

            <div class="col mt-auto">
                <input class="input search-form-input bottom" id="input-name" value="Name..." type="text" asp-for="SearchName" />

            </div>

            <div class="col mt-auto">
                Location:
                <select class="input search-form-select bottom" asp-for="SearchLocation" asp-items="Model.Locations">
                    <option value="">All</option>
                </select>
            </div>


            <div class="col mt-auto">
                Edible?:
                <select class="input search-form-select bottom" asp-for="SearchEdible" asp-items="Model.Edibles">
                    <option value="">All</option>
                </select>
            </div>


            <div class="col mt-auto">
                <div class="search-form-input keywords-filter bottom" onclick="Array.from(this.children).find(n => n.tagName==='INPUT').focus()">
                    <input class="input search-form-input" id="input-keywords" value="Keywords..." type="text" asp-for="SearchKeyWords" onclick="wipeInputBox(this);" />
                </div>
            </div>

            <div class="col mt-auto">
                <input class="btn btn-primary" type="submit" value="Search" onclick="UpdateCards()" />
            </div>

            <div class="col mt-auto">
                <button class="btn btn-primary" asp-action="Create"> Create New </button>
            </div>

        </div>

    </div>

    <div class="container-fluid">

                <div class="row mt-3">
                    <div class="col-sm-2 mb-3">
                        <div class="accordion accordion-flush filter-accordion mt-3" id="accordion-mfilters">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="accordion-mheading1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-m1" aria-expanded="false" aria-controls="collapse-m1">
                                        Filters
                                    </button>
                                </h2>
                                <div id="collapse-m1" class="accordion-collapse collapse" aria-labelledby="accordion-mheading1" data-bs-parent="accordion-mfilters">
                                    <div class="accordion-body">
                                        Family:
                                        <select class="search-form-input" asp-for="SearchFamily" asp-items="Model.Families">
                                            <option value="">All</option>
                                        </select>

                                        Cap Diameter (cm): <input class="input search-form-input" type="text" asp-for="SearchCapDiameter" />

                                        Stem Height (cm): <input class="input search-form-input" type="text" asp-for="SearchStemHeight" />

                                        Edible Keyword(s): <input class="input search-form-input" type="text" asp-for="SearchEdibleDes" />

                                        Cap Keyword(s): <input class="input search-form-input" type="text" asp-for="SearchCapDes" />

                                        Stem Keyword(s): <input class="input search-form-input" type="text" asp-for="SearchStemDes" />

                                        Gill Keyword(s): <input class="input search-form-input" type="text" asp-for="SearchGillDes" />

                                        Spore Keyword(s): <input class="input search-form-input" type="text" asp-for="SearchSporeDes" />

                                        Microscopic Keyword(s): <input class="input search-form-input" type="text" asp-for="SearchMicroDes" />

                                        Note Keyword(s): <input class="input search-form-input" type="text" asp-for="SearchNote" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-3" id="mushroom-slot-1">

                    </div>
                    <div class="col-lg-3 mb-3" id="mushroom-slot-2">

                    </div>
                    <div class="col-lg-3 mb-3" id="mushroom-slot-3">

                    </div>
                </div>

    </div>
</form>

<div>
    <span>
    </span>
</div>
