@model CanIEatIt.Models.MushroomViewModel
@using CanIEatIt.Services

@{
    ViewData["Title"] = "Mushrooms";
}

@section Scripts
{
    <script>

    </script>
}

<div class="row d-flex justify-content-center mt-3">
    <div class="col-lg-2"></div>
    <div class="col d-flex justify-content-center">
        <nav class="navbar navbar-expand-lg" style="z-index: 500 !important">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav" style="z-index: 500">
                        <li class="nav-item mt-1">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Mushrooms" asp-action="Database">Database</a>
                        </li>
                        <li class="nav-item mt-1">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Mushrooms" asp-action="Picking">Picking Guide</a>
                        </li>
                        <a class="navbar-brand" style="margin-right: 0 !important"><h2>Mushrooms</h2></a>
                        <li class="nav-item mt-1">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Mushrooms" asp-action="Recipes">Recipes</a>
                        </li>
                        <li class="nav-item mt-1">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Mushrooms" asp-action="About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="row">
    <form asp-controller="Mushrooms" asp-action="Database" data-toggle="tooltip" data-placement="top" title="Mushroom Database Search" method="get">

        <div class="container">

            <div class="row mt-3 mb-3">

                <div class="col-lg-2"></div>

                <div class="col">
                    <div class="row flex searchbar mt-3 mb-3">

                        <div class="col mt-0 nopadding">
                            <input class="input searchbar-form-text" id="searchbar-search" type="text" value="Search mushrooms..." onclick="wipeInputBox(this);" />
                        </div>

                        <div class="col divider-col" style="margin-right: 0.4em !important;">
                        </div>

                        <div class="col mt-0 nopadding">
                            <select class="input searchbar-form-select" id="searchbar-selector" asp-for="SearchEdible" asp-items="Model.Edibles" onclick="changeChevron()">
                                <option value="">Edible?</option>
                            </select>
                        </div>

                        <div class="col icon-col">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16" id="dropdown-chevron">
                                <path id="chevron-path" fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                            </svg>
                        </div>

                        <div class="col divider-col">
                        </div>

                        <div class="col-lg-2 col-sm-1 mt-0 nopadding d-flex justify-content-center">
                            <div class="" style="width: 90%">
                                <input class="btn-primary searchbar-form-button" type="submit" value="Search" onclick="" />
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-2"></div>
            </div>

        </div>


    </form>

</div>

<div>
    <span>
    </span>
</div>

