@model CanIEatIt.Models.MushroomViewModel
@using CanIEatIt.Services

@{
    ViewData["Title"] = "Mushrooms";
}

@section Scripts
{
    <script>

    </script>
}

<h2>Mushroom Home Page</h2>

<form asp-controller="Mushrooms" asp-action="Database" method="get">

    <div class="container">
        <div class="row mt-3 mb-3">

            <div class="col mt-auto">
                <input class="input search-form-input bottom" id="input-name" value="Name..." type="text" asp-for="SearchName" />

            </div>

            <div class="col mt-auto">
                Location:
                <select class="input search-form-select bottom" asp-for="SearchLocation" asp-items="Model.Locations">
                    <option value="">All</option>
                </select>
            </div>


            <div class="col mt-auto">
                Edible?:
                <select class="input search-form-select bottom" asp-for="SearchEdible" asp-items="Model.Edibles">
                    <option value="">All</option>
                </select>
            </div>


            <div class="col mt-auto">
                <div class="search-form-input keywords-filter bottom" onclick="Array.from(this.children).find(n => n.tagName==='INPUT').focus()">
                    <input class="input search-form-input" id="input-keywords" value="Keywords..." type="text" asp-for="SearchKeyWords" onclick="wipeInputBox(this);" />
                </div>
            </div>

            <div class="col mt-auto">
                <input class="btn btn-primary rounded-pill" type="submit" value="Search" onclick="UpdateCards()" />
            </div>

        </div>

    </div>


</form>

<div>
    <span>
    </span>
</div>

