@model CanIEatIt.Models.MushroomViewModel
@using CanIEatIt.Services

@{
    ViewData["Title"] = "Mushrooms - Picking Guide";
}

@section Scripts
{
    <script>

    </script>
}

PICKING GUIDE!

<div>
    <span>
    </span>
</div>

