@model CanIEatIt.Models.MushroomViewModel
@using CanIEatIt.Services

@{
    ViewData["Title"] = "Mushrooms - Recipes";
}

@section Scripts
{
    <script>

    </script>
}

RECIPES!

<div>
    <span>
    </span>
</div>

