

.contact-input {
    width:100%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0.3125rem;
    color: black;
}

textarea.contact-input {
    border-width: 2px !important;
    border-style: inset !important;
}
