@use "../../components/_mixins.scss" as *;


.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.badge-danger {
    color: white;
    background: red;
}

.badge-success {
    color: white;
    background: green;
}

.image-store {
    max-height: 100vh;
    overflow-y: scroll;
}

.information-col {
    font-family: "Outfit";
    font-size: 16px;
}

#mushroom-image-col{
    overflow: hidden;
}


